<app-login-headder></app-login-headder>
<div class='container p-3'>
    <div class='card'>
        <div class='card-header'>
            Reset Password
        </div>
        <div class='card-body'>
            <div *ngIf='displayInvalidUser' class='alert alert-danger'> Invalid E-Mail</div>
            <div *ngIf='displayEmailSent' class='alert alert-success'> Email Sent!</div>
            <form (ngSubmit)='doRecoverPassword()'>
                <div class='row p-1'>
                    <div class='col-2'>
                        E-Mail Address 
                    </div>
                    <div class='col-2'>
                        <input type='text' name='username' [(ngModel)]='username'>
                    </div>
                </div>
                <div class='row p-1'>
                    <div class='col-2'></div>
                    <div class='col-4'>
                        <button type='submit' class='btn btn-primary'>Send Password Reset Link</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
