
<nav class="navbar  bg-dark navbar-dark">
            <button class='btn' (click)='goToHome()'>
              <div class="navbar-brand">Order Up</div>
            </button>
        
          <div class='col'></div>
          <div class="col-1">
            <button class='btn btn-light' (click)='goToCart()'>🛒</button>
          </div>
          <div class='col-2'>
              <div class="dropdown">
                  <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                    {{user}}
                  </button>
                  <div class="dropdown-menu">
                    <button class="dropdown-item btn-secondary" (click)='goToProfile()'>Profile</button>
                    <button class="dropdown-item" (click)='goToSettings()'>Settings</button>
                    <button class="dropdown-item" (click)='goToLogout()'>Logout</button>
                  </div>
                </div>
          </div>
  </nav>
