<app-home-top-menue></app-home-top-menue>
<div class="p-3">
<div class="container card">
    <div class="row p-3">
        <div class="col-3">
            <img src="{{userPhoto}}" class="img-thumbnail rounded-circle" alt="Profile Picture"> 
        </div>
        <div class="col-7">
            <div class="row p-2">
                <div class="col">
                    <h6>About</h6>
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    Name: {{userName}}
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6">
                    Email: {{currentUser}}
                </div>
                <div class="col-6">
                    Phone: {{userPhone}}
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    Profession: {{userProfession}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
