<app-home-top-menue></app-home-top-menue>
<div class="p-3">
    <h4>User Settings:</h4>
    <div class='container border p-1'>
        <div class='row p-3'>
            <h5>Payment Options and Address</h5>
        </div>
        <div class='row p-2'>
            <div class='col-2'>
                <button class='btn btn-outline-primary' (click)='goToCardList()'>Card details</button>
            </div>
            <div class='col-2'>
                <button class='btn btn-outline-primary' (click)='goToAddressList()'>Address list</button>
            </div>
        </div>
    </div>
</div>

